In [ ]:
# install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.2.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

# install findspark using pip
!pip install -q findspark

# install pyspark
!pip3 install pyspark==3.2.0

# install graphframes
!pip3 install graphframes

Collecting pyspark==3.2.0
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 68.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=6a277d11ef5043bf197e3117a8429c637a7d12b59ef565324e145dc290a9d9ca
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Collecting graphframes
  Downloading graphframes-0.6-py2.py3-none-any.whl (18 kB)
Collecting nose
  Downloading nose-1.3.7-py3-none-any.whl (154 kB)
     |████████████████████████████████| 154 kB 30.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from graphframes) (1.19.5)
Installing collected packages: nose, graphframes
Successfully installed graphframes-0.6 nose-1.3.7

In [ ]:
!cp -v /content/graphframes-0.8.2-spark3.2-s_2.12.jar $SPARK_HOME/jars/

'/content/graphframes-0.8.2-spark3.2-s_2.12.jar' -> '/content/spark-3.2.0-bin-hadoop3.2/jars/graphframes-0.8.2-spark3.2-s_2.12.jar'

In [ ]:
#import the packages
from pyspark import *
from pyspark.sql import *
from graphframes import *
import findspark
import pandas as pd

findspark.init()

# Start a Spark session
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
import psycopg2
import pandas as pd

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='cpdbstudent', password='DataSci4AI', host='codd01.research.northwestern.edu', port= '5432'
)

In [ ]:
cursor = conn.cursor()

In [ ]:
edges_query = '''
DROP TABLE IF EXISTS ids_distinct2;
create temp table ids_distinct2 as(
select distinct a.id
   	from data_officer a
join (
Select POLICE_UNIT, COUNT_ALLEGATIONS, total_officers, TRUNC((COUNT_ALLEGATIONS :: numeric / total_officers),2) as allegation_ratio_per_unit  from
(select b.last_unit_id AS POLICE_UNIT, count(a.officer_id) AS COUNT_ALLEGATIONS from data_officerallegation a
join data_officer b
on a.officer_id = b.id
group by b.last_unit_id
order by count(a.officer_id) desc)A

Inner join

(Select count(id) as total_officers, last_unit_id from data_officer group by last_unit_id order by  last_unit_id)B

on A.POLICE_UNIT = B.last_unit_id order by allegation_ratio_per_unit desc
limit 10) pu
on a.last_unit_id = pu.POLICE_UNIT);

select src, dst, relationship from(
SELECT da1.officer_id src, da2.officer_id dst, COUNT(DISTINCT da1.allegation_id) relationship
FROM data_officerallegation da1
JOIN data_officerallegation da2 ON da1.allegation_id = da2.allegation_id AND da1.officer_id < da2.officer_id
GROUP BY da1.officer_id, da2.officer_id ORDER BY count(*) DESC)popln_sample2
JOIN ids_distinct2 ON ids_distinct2.id = popln_sample2.src;

'''

In [ ]:
nodes_query = '''
DROP TABLE IF EXISTS ids_distinct2;
create temp table ids_distinct2 as(
select distinct a.id
   	from data_officer a
join (
Select POLICE_UNIT, COUNT_ALLEGATIONS, total_officers, TRUNC((COUNT_ALLEGATIONS :: numeric / total_officers),2) as allegation_ratio_per_unit  from
(select b.last_unit_id AS POLICE_UNIT, count(a.officer_id) AS COUNT_ALLEGATIONS from data_officerallegation a
join data_officer b
on a.officer_id = b.id
group by b.last_unit_id
order by count(a.officer_id) desc)A

Inner join

(Select count(id) as total_officers, last_unit_id from data_officer group by last_unit_id order by  last_unit_id)B

on A.POLICE_UNIT = B.last_unit_id order by allegation_ratio_per_unit desc
limit 10) pu
on a.last_unit_id = pu.POLICE_UNIT);

DROP TABLE IF EXISTS edges_q2;
create temp table edges_q2 as(
select src, dst, relationship from(
SELECT da1.officer_id src, da2.officer_id dst, COUNT(DISTINCT da1.allegation_id) relationship
FROM data_officerallegation da1
JOIN data_officerallegation da2 ON da1.allegation_id = da2.allegation_id AND da1.officer_id < da2.officer_id
GROUP BY da1.officer_id, da2.officer_id ORDER BY count(*) DESC)popln_sample2
JOIN ids_distinct2 ON ids_distinct2.id = popln_sample2.src);

SELECT  id, last_unit_id, first_name || ' ' || last_name officer_name, allegation_count FROM data_officer
where id in (select distinct src from edges_q2);

'''

In [ ]:
cursor.execute(edges_query)
edges = cursor.fetchall()
print("shape is: " + str(len(edges))) # 17465

df_edges = pd.DataFrame(edges)
colnames = [desc[0] for desc in cursor.description]
df_edges.columns = colnames

shape is: 2776

In [ ]:
cursor.execute(nodes_query)
nodes = cursor.fetchall()
print("shape is: " + str(len(nodes))) # 17465

df_nodes = pd.DataFrame(nodes)
colnames = [desc[0] for desc in cursor.description]
df_nodes.columns = colnames

shape is: 125

In [ ]:
df_nodes

        id  last_unit_id        officer_name  allegation_count
0    28298           266      Brian Tedeschi                11
1     8769           175         Jose Flores                17
2    11427           174     Derrick Harland                 7
3     1172           174     Damen Balesteri                58
4      867           174  Reginald Arrington                23
..     ...           ...                 ...               ...
120   5571           173           Bryan Cox                26
121  32310           174       Bradley Ruzak                26
122  28203           266         Johnny Tate                12
123   6221           174       Herbert Darey                25
124  31972           175         Terry Frigo                10

[125 rows x 4 columns]

In [ ]:
edges_ = spark.createDataFrame(df_edges)

In [ ]:
nodes = spark.createDataFrame(df_nodes)

In [ ]:
cpdb2 = GraphFrame(nodes, edges_)

In [ ]:
tc_cpdb = cpdb2.triangleCount()
tc_cpdb.orderBy('count', ascending=False).show()
tc_cpdb.select("id", "count").show()

+-----+-----+------------+------------------+----------------+
|count|   id|last_unit_id|      officer_name|allegation_count|
+-----+-----+------------+------------------+----------------+
|    7|18176|         174|       John Mc Gee|              34|
|    7| 3395|         173|        Adam Burns|              16|
|    7| 1172|         174|   Damen Balesteri|              58|
|    6|30537|         174|   Tracy Whitehead|              19|
|    6|10558|         266|    Anthony Granat|              21|
|    6|27385|         174|     Bill Starling|              29|
|    5|11641|         174|       Craig Hatch|               7|
|    5|12220|         173|     Courtney Hill|              72|
|    4|27439|         173| Robert Stegmiller|              62|
|    4| 2671|         173|      Sean Brandon|              40|
|    4|10663|         174|       Andre Green|              36|
|    4|23600|         173|        Brian Reed|              23|
|    3| 2588|         174|    Jason Bradford|              16|
|    3| 6221|         174|     Herbert Darey|              25|
|    3|  867|         174|Reginald Arrington|              23|
|    3|24324|         174|  Brandon Rodekohr|              16|
|    3|25191|         173|     David Salgado|              31|
|    3| 7982|         173|     Kenneth Epich|              45|
|    3|29613|         173|  Marco Villarreal|              10|
|    2|24521|         175|      Carlos Rojas|              71|
+-----+-----+------------+------------------+----------------+
only showing top 20 rows

+-----+-----+
|   id|count|
+-----+-----+
| 5572|    0|
|28298|    1|
|31996|    1|
| 6983|    1|
|24521|    2|
| 8769|    0|
|10664|    2|
|  867|    3|
| 1172|    7|
|15619|    0|
|28735|    0|
|27935|    0|
| 7982|    3|
|20384|    0|
| 1825|    0|
| 3395|    7|
|11427|    2|
|10196|    0|
|21941|    1|
|14187|    0|
+-----+-----+
only showing top 20 rows

In [ ]:
pr_cpdb = cpdb2.pageRank(resetProbability=0.15, tol=0.01)
#look at the pagerank score for every vertex
pr_cpdb.vertices.orderBy('pagerank', ascending=False).show()
pr_cpdb.edges.show()

+-----+------------+-----------------+----------------+------------------+
|   id|last_unit_id|     officer_name|allegation_count|          pagerank|
+-----+------------+-----------------+----------------+------------------+
|31996|         175|     German Gomez|              12| 1.305863820393211|
|25191|         173|    David Salgado|              31|1.1865471624739725|
|27935|         165|    Matthew Swain|              61|1.1847111268651542|
|32406|         173|    Reginald Ward|              17|1.1645157563285098|
|24521|         175|     Carlos Rojas|              71|1.1580852338143208|
|27439|         173|Robert Stegmiller|              62|1.1577471014734335|
|30320|         180| Robert Weisskopf|              23|1.1524574235387521|
|29445|         173|        Luis Vega|              53|1.1440847317012035|
|30537|         174|  Tracy Whitehead|              19|1.1299951650932252|
|23600|         173|       Brian Reed|              23| 1.121360147183769|
|30387|         173|  Mark Wesselhoff|              12| 1.119362425837314|
|18176|         174|      John Mc Gee|              34|1.1001864159642845|
|32310|         174|    Bradley Ruzak|              26|1.0931619943906823|
|28335|         180|   Jesse Terrazas|              60| 1.069512583185627|
|32235|         174|     Kevin Oneill|              16|1.0671639477854686|
|28734|         175|    Daniel Torres|               9|1.0658958202979916|
|27385|         174|    Bill Starling|              29|1.0620978011392457|
|10558|         266|   Anthony Granat|              21| 1.058339206340742|
|19834|         174|     Todd Mueller|              27| 1.057729659160206|
|32400|         175|     Adam Wallace|              16|1.0402479378562848|
+-----+------------+-----------------+----------------+------------------+
only showing top 20 rows

+----+-----+------------+--------------------+
| src|  dst|relationship|              weight|
+----+-----+------------+--------------------+
|1825|18588|           1|                0.04|
|3395| 4936|           1|0.021739130434782608|
| 672|17251|           1|0.045454545454545456|
|1932|13598|           1|0.004504504504504...|
|1932|27686|           1|0.004504504504504...|
|2671|12932|           1|0.014705882352941176|
|3395| 5131|           1|0.021739130434782608|
|3395|23913|           1|0.021739130434782608|
|6451|32287|           1|0.012345679012345678|
| 867|22423|           2|0.030303030303030304|
|1932|31176|           1|0.004504504504504...|
|5571|18462|           1|0.022727272727272728|
| 672| 1177|           1|0.045454545454545456|
| 847|18266|           1| 0.07142857142857142|
|1932| 4993|           1|0.004504504504504...|
|1932|12247|           1|0.004504504504504...|
|1932|24716|           1|0.004504504504504...|
|5406|24596|           2|0.016666666666666666|
|5494| 6009|           1| 0.07142857142857142|
|3743|27229|           2| 0.02564102564102564|
+----+-----+------------+--------------------+
only showing top 20 rows